:root {
  --color-fonts: #1d2f30;
  --color-dark: #0b1919;
  --color-accent: #bae249;
  --color-grey: #899d9d;
  --color-white: #ffffff;

  --font-family-base: "Open Sans", sans-serif;

  --container-width: 1110px;
  --container-padding-x: 32px;

  --container-padding-y: 30px;

  --input-height: 45px;
  --button-height: 45px;

  --transition-duration: 0.2s;
}
