@use "mixins" as *;

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.44px;
  color: var(--color-white);
  background-color: var(--color-fonts);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  @include fluid-text(48, 60);
}

h2 {
  @include fluid-text(32, 48);
}

.container {
  margin: 0 auto;

  max-width: 1110px;
}
