@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.woff2") format(".woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Cormorant" format(".woff2");
  src: url("../fonts/Cormorant-Bold.woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-fonts: #1d2f30;
  --color-dark: #0b1919;
  --color-accent: #bae249;
  --color-grey: #899d9d;
  --color-white: #ffffff;
  --color-hover: rgba(145, 172, 70, 1);
  --color-active: rgba(104, 139, 5, 1);
  --font-family-base: "Open Sans", sans-serif;
  --font-family-second: "Cormorant", sans-serif;
  --container-width: 1110px;
  --container-padding-x: 32px;
  --container-padding-y: 30px;
  --input-height: 45px;
  --button-height: 45px;
  --transition-duration: 0.2s;
}

body {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.44px;
  color: var(--color-white);
  background-color: var(--color-fonts);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  margin: 0;
  font-size: clamp(48px, 4.1666666667vw, 60px);
  font-family: "Cormorant", serif;
  line-height: 100%;
  letter-spacing: 0.1px;
}

h2 {
  font-size: clamp(32px, 3.3333333333vw, 48px);
  font-family: var(--font-family-second);
}

p {
  font-size: clamp(8px, 1.1111111111vw, 16px);
}

.container {
  margin: 0 auto;
  max-width: 1172px;
  padding: 0 32px;
}

.header {
  width: 100%;
}
.header__nav {
  display: flex;
  -moz-column-gap: 125px;
       column-gap: 125px;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.header__list {
  display: flex;
  align-items: center;
  -moz-column-gap: 64px;
       column-gap: 64px;
}

.header__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  -moz-column-gap: 64px;
       column-gap: 64px;
}
.header__icons-search, .header__icons-exit {
  color: var(--color-accent);
  cursor: pointer;
}
.header__icons-search:hover, .header__icons-exit:hover {
  color: var(--color-hover);
}
.header__icons-search:active, .header__icons-exit:active {
  color: var(--color-active);
}

.header__link {
  cursor: pointer;
}

.header__link:hover {
  color: var(--color-accent);
}

.hero {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 115px;
  padding-bottom: 111px;
  background-image: url("../img/header.png");
}
.hero__wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 22px;
}

.hero__link {
  display: flex;
  -moz-column-gap: 8px;
       column-gap: 8px;
  color: var(--color-accent);
  letter-spacing: 1px;
  cursor: pointer;
}

.hero__link:hover {
  color: var(--color-hover);
}

.hero__link:active {
  color: var(--color-active);
}

.hero__search {
  letter-spacing: 0.1px;
}

.hero__description {
  letter-spacing: 0.56px;
}/*# sourceMappingURL=styles.css.map */